<nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom border-body" data-bs-theme="light">
	<div class="container">
		<a class="navbar-brand" href="/bootstrap">
			<img src="/assets/brand/bootstrap-logo.svg" width="30" height="24" alt="bootstrap">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" href="/">
						<i class="fa-solid fa-house fa-fw"></i>
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						CPanel
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="/bootstrap/buttons">Buttons</a>
						</li>
						<li>
							<a class="dropdown-item" href="/bootstrap/popovers">Popovers</a>
						</li>
						<li>
							<a class="dropdown-item" href="/bootstrap/badges">Badges</a>
						</li>
						<li>
							<a class="dropdown-item" href="/bootstrap/">Another action</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/bootstrap/fontawesome">Fontawesome 6</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/bootstrap/toastr" target="_blank">Toastr</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/bootstrap/sweetalert" target="_blank">SweetAlert</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://getbootstrap.com/docs/5.3/components/" target="_blank">Bootstrap 5.3</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://fontawesome.com/search?o=r&m=free" target="_blank">Fontawesome 6</a>
				</li>
			</ul>
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
