<div style="width: 100%; overflow-x: scroll;">
    <table id="modDataTable" class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Nome Completo</th>
                <th>Email</th>
                <th>Tipo</th>

                <th>BI</th>
                <th><small>Data Nasc.</small></th>
                <th>Telefone</th>
                <th>Telemovel</th>
                <th class="col-1"><small>Cod. Postal</small></th>
                <th>Localidade</th>
                <th><small>Criado Em</small></th>

                <th class="text-center">Isento</th>
                <th class="text-center">Estado</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
