{% extends 'bootstrap/base.html.twig' %}

{% block title %}Badges :: CPanel
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Datepicker</h1>
		<p>Date: <input type="text" id="datepicker"></p>
	</div>
</div>{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('boostrap_datepicker') }}
	<script>
	console.log($("body"));
	</script>
{% endblock %}
