<div class="brand-top">
    <a title="{{ app.request.server.get('APP_BRAND') }}" href="/">
        <div class="brand-top-logo">
            <img alt="Logotipo {{ app.request.server.get('APP_BRAND') }}" src="{{ asset('img/brand.png') }}" width="auto" height="45" />
        </div>
    </a>
</div>
